<h1><%= @post.name %></h1>
<p>Type: <%= @post.type %></p>
<p>Species: <%= @post.species %></p>
<p>Abilities: <%= @post.abilities %></p>
<p>Description: <%= @post.description %></p>
<a href="/pokemon/<%= @post.id %>/edit">Edit</a>
<form action="<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete">
</form>
